In [2]:
from cx_Oracle import version, connect, DatabaseError
import cx_Oracle
import sys

cx_Oracle.init_oracle_client(lib_dir=r"C:\Program Files\oracle\instantclient_19_5")

def db_connectivity():
     try:
         db_connection = connect('VELDB60/VELDB60@indlin076/VELABP1')
         db_cursor = db_connection.cursor()
     except DatabaseError as e:

         #print(f"Error e.args[0]: e.args[0]")
         print("error")
         db_connection.rollback()
         sys.exit(1)
     else:
         print(f'Connection has been Established')
         return db_connection, db_cursor

In [3]:
db_connection,db_cursor = db_connectivity()

Connection has been Established

In [4]:
r = db_cursor.execute("select * from TheOffice")
print(r)

<cx_Oracle.Cursor on <cx_Oracle.Connection to VELDB60@indlin076/VELABP1>>

In [5]:
 
user_details = (db_cursor.execute("select * from TheOffice")).fetchall() 
print(user_details)

[(100, 'David', 'Wallace', 'M', 250000, None, None, datetime.datetime(2001, 6, 6, 0, 0)), (101, 'Jan', 'Levinson', 'F', 110000, 100, 1, datetime.datetime(1961, 11, 5, 0, 0)), (102, 'Michael', 'Scott', 'M', 75000, 100, None, datetime.datetime(1964, 3, 3, 0, 0)), (103, 'Angela', 'Martin', 'F', 63000, 102, 2, datetime.datetime(1971, 11, 6, 0, 0)), (104, 'Kelly', 'Kapoor', 'F', 55000, 102, 2, datetime.datetime(1963, 8, 7, 0, 0)), (105, 'Stanley', 'Hudson', 'M', 69000, 102, 2, datetime.datetime(1995, 6, 6, 0, 0)), (106, 'Josh', 'Porter', 'M', 78000, 100, None, datetime.datetime(1962, 8, 6, 0, 0)), (107, 'Andy', 'Bernard', 'M', 65000, 106, 3, datetime.datetime(1976, 3, 4, 0, 0)), (108, 'Jim', 'Halpert', 'M', 71000, 106, 3, datetime.datetime(1981, 12, 11, 0, 0))]

In [6]:
r = db_cursor.execute("select * from TheOffice")

In [7]:
for row in r:
    print(row)

(100, 'David', 'Wallace', 'M', 250000, None, None, datetime.datetime(2001, 6, 6, 0, 0))
(101, 'Jan', 'Levinson', 'F', 110000, 100, 1, datetime.datetime(1961, 11, 5, 0, 0))
(102, 'Michael', 'Scott', 'M', 75000, 100, None, datetime.datetime(1964, 3, 3, 0, 0))
(103, 'Angela', 'Martin', 'F', 63000, 102, 2, datetime.datetime(1971, 11, 6, 0, 0))
(104, 'Kelly', 'Kapoor', 'F', 55000, 102, 2, datetime.datetime(1963, 8, 7, 0, 0))
(105, 'Stanley', 'Hudson', 'M', 69000, 102, 2, datetime.datetime(1995, 6, 6, 0, 0))
(106, 'Josh', 'Porter', 'M', 78000, 100, None, datetime.datetime(1962, 8, 6, 0, 0))
(107, 'Andy', 'Bernard', 'M', 65000, 106, 3, datetime.datetime(1976, 3, 4, 0, 0))
(108, 'Jim', 'Halpert', 'M', 71000, 106, 3, datetime.datetime(1981, 12, 11, 0, 0))

In [45]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\rohang\anaconda3\lib\site-packages (1.4.7)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\rohang\anaconda3\lib\site-packages (from sqlalchemy) (1.0.0)
Note: you may need to restart the kernel to use updated packages.

In [17]:
import pandas as pd
import sqlalchemy
from sqlalchemy.exc import SQLAlchemyError
df = pd.read_sql(r,db_connection)
df

DatabaseError: Execution failed on sql '<cx_Oracle.Cursor on <cx_Oracle.Connection to VELDB60@indlin076/VELABP1>>': expecting string or bytes object

In [21]:
import pandas as pd
import cx_Oracle
import sqlalchemy
from sqlalchemy.exc import SQLAlchemyError
engine = sqlalchemy.create_engine("oracle+cx_oracle://VELDB60:VELDB60@indlin076/?service_name=VELABP1 ", arraysize=1000)
orders_sql = """SELECT * FROM TheOffice"""; 
df_orders = pd.read_sql(orders_sql, engine)
print(df_orders)

   emp_id first_name last_name sex  salary  super_id  branch_id      b_day
0     100      David   Wallace   M  250000       NaN        NaN 2001-06-06
1     101        Jan  Levinson   F  110000     100.0        1.0 1961-11-05
2     102    Michael     Scott   M   75000     100.0        NaN 1964-03-03
3     103     Angela    Martin   F   63000     102.0        2.0 1971-11-06
4     104      Kelly    Kapoor   F   55000     102.0        2.0 1963-08-07
5     105    Stanley    Hudson   M   69000     102.0        2.0 1995-06-06
6     106       Josh    Porter   M   78000     100.0        NaN 1962-08-06
7     107       Andy   Bernard   M   65000     106.0        3.0 1976-03-04
8     108        Jim   Halpert   M   71000     106.0        3.0 1981-12-11

In [23]:
pip install pymongo --proxy=genproxy.corp.amdocs.com:8080

Collecting pymongo
  Downloading pymongo-3.11.4-cp38-cp38-win_amd64.whl (383 kB)
Installing collected packages: pymongo
Successfully installed pymongo-3.11.4
Note: you may need to restart the kernel to use updated packages.

In [30]:
import pymongo
from pymongo import MongoClient

client = MongoClient('localhost', 27017)

print(client.list_database_names())

r = db.customers.find()
for x in r:
    print(x)

['admin', 'config', 'local', 'mycustomers']
{'_id': ObjectId('60d9950e517f3b49380b1f28'), 'first_name': 'Rohan', 'last_name': 'Gautam'}
{'_id': ObjectId('60d9950e517f3b49380b1f29'), 'first_name': 'Yugal', 'last_name': 'Gautam', 'Gender': 'Male'}